.graphics{
  margin-right: 33%;
  margin-left: 33%;
  margin-top: 3%;
}

img{
  /*margin-top: 2%;*/
  /*width: 9.25in;*/
  /*height: 5.25in;*/
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  max-width: 9.25in;
  width: 100%;
  height: auto;
}
.center-button-results{
  text-align: center;
}

.graphics-img{
  margin-left: 20%;
  margin-right: 20%;
}
