@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

.nav-item, .navbar-brand {
  font-family: 'Bitter', serif;
}

.basic-dropdown {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  min-width: 200px;
  max-width: 14vw;
}

.dropdown-menu{
}

.logo {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  max-width: 400px;
  width: 100%;
  height: auto;
}
