<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color">
  <a class="navbar-brand" href="#">ML-Based Classification</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<!--/.Navbar-->

<div class="logo">
  <img src="/assets/BestClassification.png" alt="BestClassification.jpg">
</div>

<div class="btn-group basic-dropdown" mdbDropdown style="text-align: center">
  <button mdbDropdownToggle type="button" mdbBtn color="primary" class="dropdown-toggle waves-light"
          mdbWavesEffect>
    Choose Method
  </button>

  <div class="dropdown-menu dropdown-primary">
    <a class="dropdown-item" *ngFor="let method of methods"
       (click)="setChosenMethod(method)">{{method.label}}</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" (click)="setChosenMethod(separatedMethod)">{{separatedMethod.label}}</a>
  </div>
</div>
<div class="python_component">
  <app-python-classification *ngIf="chosenMethod != null" [method]="chosenMethod"></app-python-classification>
</div>


<!--/.Navbar-->

