<!--suppress ALL -->
<div class="classification">
  <div class="flex-container">
    <div>
      <h1>{{method.label}}</h1>
      <form method="post" #myForm="ngForm" class="page-left">
        <ul class="field-container">
          <div *ngFor="let argument of argumentsKeys" class="field">
            <li *ngIf="method.methodArgs.get(argument).type === 'STRING'">
              <div class="md-form">
                <input mdbInput type="text" id="{{argument}}" class="form-control" required
                       value="{{method.methodArgs.get(argument).defaultValue}}" name="{{argument}}">
                <label for="{{argument}}" class="">{{argument}}</label>
              </div>
            </li>
            <li *ngIf="method.methodArgs.get(argument).type === 'NUMBER'">
              <div class="md-form">
                <input mdbInput type="number" id="{{argument}}" class="form-control" required
                       value="{{method.methodArgs.get(argument).defaultValue}}" name="{{argument}}">
                <label for="{{argument}}" class="">{{argument}}</label>
              </div>
            </li>
            <li *ngIf="method.methodArgs.get(argument).type === 'BOOLEAN'" class="boolean">
              <mdb-checkbox [default]="true" id="{{argument}}" [checked]="method.methodArgs.get(argument).defaultValue"
                            name="{{argument}}">{{argument}}</mdb-checkbox>
            </li>
            <li *ngIf="method.methodArgs.get(argument).type === 'STRING_ENUM'">
              <div class="btn-group" mdbDropdown>
                <button mdbDropdownToggle type="button" mdbBtn color="primary" class="dropdown-toggle waves-light"
                        mdbWavesEffect>
                  {{argument}}
                </button>
                <div class="dropdown-menu dropdown-primary">
                  <a class="dropdown-item" *ngFor="let possibleValue of method.methodArgs.get(argument).possibleValues"
                     href="#">{{possibleValue}}</a>
                </div>
              </div>
            </li>
          </div>
          <li class="files-flex">
            <div class="file-one">
              <p class="file-text">Test data</p>
              <div class="dropzone">
                <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon">
                <input type="file" name="file" class="upload-input"
                       (change)="onChangeTestDataFile($event.target.files)">
              </div>
              <p class="file-text">Uploaded file: <i *ngIf="this.testDataFileStatus != null">{{testDataFileName}}</i>
              </p>
            </div>
            <div class="file-two">
              <p class="file-text">Data</p>
              <div class="dropzone">
                <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon">
                <input type="file" name="file" class="upload-input" (change)="onChangeDataFile($event.target.files)">
              </div>
              <p class="file-text">Uploaded file: <i *ngIf="trainDataFileStatus != null">{{dataFileName}}</i></p>
            </div>
          </li>
        </ul>
        <div class="center-button">
          <button type="submit" mdbBtn color="primary" mdbWavesEffect (click)="submitButtonClicked()">Send</button>
        </div>
      </form>
    </div>
    <div *ngIf="resultOutput == true">
      <h1>Results:</h1>
      <app-result></app-result>
    </div>
  </div>
</div>



