<!--suppress ALL -->
<div class="classification">
  <div class="grid-container">
    <h1>{{method.name}}</h1>
    <form method="post" #myForm="ngForm" class="page-left">
      <ul class="field-container">
        <div *ngFor="let argument of argumentsKeys" class="field">
          <li *ngIf="method.methodArgs.get(argument) === 'STRING'">
            <div class="md-form">
              <input mdbInput type="text" id="{{argument}}" class="form-control" required name="{{argument}}">
              <label for="{{argument}}" class="">{{argument}}</label>
            </div>
          </li>
          <li *ngIf="method.methodArgs.get(argument)  === 'NUMBER'">
            <div class="md-form">
              <input mdbInput type="number" id="{{argument}}" class="form-control" required
                     name="{{argument}}">
              <label for="{{argument}}" class="">{{argument}}</label>
            </div>
          </li>
          <li *ngIf="method.methodArgs.get(argument)  === 'BOOLEAN'" class="boolean">
            <mdb-checkbox [default]="true" name="{{argument}}">{{argument}}</mdb-checkbox>
          </li>
        </div>
        <li class="files-grid">
          <div class="file-one">
            <p class="file-text">Test data</p>
            <div class="dropzone">
              <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon">
              <input type="file" class="upload-input" (change)="onChangeTestDataFile($event.target.files)">
            </div>
            <p class="file-text">Uploaded file: <i *ngIf="testData != null">{{testData.name}}</i></p>
          </div>
          <div class="file-two">
            <p class="file-text">Data</p>
            <div class="dropzone">
              <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon">
              <input type="file" class="upload-input" (change)="onChangeDataFile($event.target.files)">
            </div>
            <p class="file-text">Uploaded file: <i *ngIf="data != null">{{data.name}}</i></p>
          </div>
        </li>
      </ul>
      <div class="center-button">
        <button type="submit" mdbBtn color="primary" mdbWavesEffect>Send</button>
      </div>
    </form>
    <app-result class="page-right"></app-result>
  </div>
</div>



